/**
 * FormError 컴포넌트 스타일
 * 
 * @description
 * - Figma 디자인과 pixel-perfect 수준으로 일치하도록 작성
 * - CSS 변수를 사용한 디자인 토큰 적용
 * - 375px 기준 고정 레이아웃
 */

.error {
  font-family: var(--font-pretendard);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  color: var(--color-red-500);
  line-height: var(--line-height-normal);
  margin-top: var(--spacing-xs);
}
