/**
 * Main Layout 스타일
 * CSS 변수를 활용한 스타일 정의
 * GNB 높이만큼 하단 여백 추가
 */

.container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
