/**
 * TotalPrice 컴포넌트 스타일
 * 
 * @description
 * - Figma 디자인과 pixel-perfect 수준으로 일치하도록 작성
 * - CSS 변수를 사용한 디자인 토큰 적용
 * - 375px 기준 고정 레이아웃
 */

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-lg);
  background-color: var(--color-white-500);
  border-top: 1px solid var(--color-border-light);
}

.label {
  font-family: var(--font-pretendard);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  color: var(--color-black-500);
  line-height: var(--line-height-normal);
}

.amount {
  font-family: var(--font-pretendard);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  color: var(--color-red-500);
  line-height: var(--line-height-normal);
}
