.tabs {
  width: 100%;
  height: 37px;
  border-bottom: 1px solid var(--color-border-light);
  margin-top: 26px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 0;
  padding-bottom: 1px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  position: relative;
}

.tab {
  height: 36px;
  padding: 0;
  font-family: var(--font-pretendard);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  color: var(--color-grey-500);
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tab:hover {
  color: var(--color-black-500);
}

.tabActive {
  composes: tab;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: var(--color-black-500);
}

.tabActive::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 82px;
  height: 2px;
  background: var(--color-black-500);
}

.indicator {
  display: none;
}
