.container {
  width: 100%;
  height: 124px;
  padding-top: 32px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 0;
  border-bottom: 1px solid var(--color-border-light);
}

.headerRow {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: var(--font-pretendard);
  font-size: 30px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0;
  color: var(--color-black-500);
  margin: 0;
  height: 33px;
}

.closeButton {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-border-light);
  background: transparent;
  cursor: pointer;
  padding: 0;
  border-radius: 28px;
}

.closeButton:hover {
  background-color: var(--color-white-grey-100);
}

.closeIcon {
  color: var(--color-black-500);
}

.subtitle {
  width: 100%;
  height: 20px;
  margin-top: 8px;
  font-family: var(--font-pretendard);
  font-size: 14px;
  line-height: 20px;
  color: var(--color-grey-500);
}
