/**
 * @fileoverview WaitingRoom 컴포넌트 스타일
 * @description 대기실 페이지 컨테이너의 스타일 (375px 고정 레이아웃)
 */

.container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-white-500);
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  width: 100%;
  position: relative;
}

.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  padding: 20px 16px;
}

.errorMessage {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-red-500);
  text-align: center;
  line-height: 1.5;
}
