/**
 * SuccessMessage 컴포넌트 스타일
 * 
 * @description
 * - Figma 디자인과 pixel-perfect 수준으로 일치하도록 작성
 * - CSS 변수를 사용한 디자인 토큰 적용
 * - 375px 기준 고정 레이아웃
 */

.container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding: var(--spacing-2xl);
  background-color: var(--color-white-500);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-lg);
  text-align: center;
}

.icon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: var(--color-green-50);
  color: var(--color-green-500);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: var(--font-weight-bold);
  line-height: 1;
}

.title {
  font-family: var(--font-pretendard);
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tight);
  color: var(--color-black-500);
  margin: 0;
}

.message {
  font-family: var(--font-pretendard);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  color: var(--color-dark-grey-500);
  margin: 0;
}

.subMessage {
  font-family: var(--font-pretendard);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  color: var(--color-grey-500);
  margin: 0;
}
